modules = ["python-3.11", "web", "bash", "nix"]
run = "streamlit run main.py"

[nix]
channel = "stable-24_05"
packages = ["freetype", "glibcLocales", "libyaml"]

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "streamlit run main.py"]

[workflows]
runButton = "Streamlit"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Streamlit Server"

[[workflows.workflow]]
name = "Streamlit Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run main.py"
waitForPort = 5000

[[workflows.workflow]]
name = "View System Flow"
author = 33159889
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"

[[workflows.workflow]]
name = "Streamlit"
author = 33159889
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run --server.address 0.0.0.0 --server.enableCORS=false --server.enableWebsocketCompression=false main.py"

[[ports]]
localPort = 5000
externalPort = 80
